body {
  background-color: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 1rem;
}
header {
  border-radius: 1rem;
  background-color: blue;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container {
  border-radius: 1rem;
  background-color: brown;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
